<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
  <!-- <img src="/assets/placeholders/avatars/avatar9.jpg" alt="avatar"> -->
  <%= image_tag("placeholders/avatars/avatar9.jpg", alt: "avatar")  %>
</a>
<ul class="dropdown-menu dropdown-menu-right">
  <li class="dropdown-header">
    <strong>ADMINISTRATOR</strong>
  </li>
  <li>
    <a href="page_app_email.html">
      <i class="fa fa-inbox fa-fw pull-right"></i>
          Inbox
    </a>
  </li>
  <li>
    <a href="page_app_social.html">
      <i class="fa fa-pencil-square fa-fw pull-right"></i>
      Profile
    </a>
  </li>
  <li>
    <a href="page_app_media.html">
      <i class="fa fa-picture-o fa-fw pull-right"></i>
      Media Manager
    </a>
  </li>
  <li class="divider"><li>
  <li>
    <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
      <i class="gi gi-settings fa-fw pull-right"></i>
      Settings
    </a>
  </li>
  <li>
    <a href="page_ready_lock_screen.html">
      <i class="gi gi-lock fa-fw pull-right"></i>
      Lock Account
    </a>
  </li>
  <li>
    <%#= link_to "<i class='fa fa-power-off fa-fw pull-right'></i><span class='text'> Log out</span>".html_safe, destroy_user_session_path, :method => :delete, :class => "navbar-link", :confirm => "确认退出?" %>
    <!-- <a href="javascript:void(0);"> -->
      <!-- Log out -->
      <%= link_to "<i class='fa fa-power-off fa-fw pull-right'></i>#{t('devise.sessions.sign_out')}".html_safe , destroy_user_session_path, method: :delete %>
    <!-- </a> -->
    <!-- <a href="<%= destroy_user_session_path %>"  data-method="delete">
        <i class="fa fa-power-off fa-fw pull-right"></i>
        Log out
    </a> -->
  </li>
</ul>